<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="app_name">springboottips</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} [REQUEST-TRACE-ID: %X{REQUEST-TRACE-ID}] - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="../log/${app_name}.log"
                     filePattern="../logarchive/${app_name}-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy max="90"/>
        </RollingFile>

        <!--
        <Kafka name="Kafka" topic="sometopic" syncSend="true">
            <Property name="bootstrap.servers">kafka-1c-1.xyz.com:9092,kafka-1c-2.xyz.com:9092,kafka-1c-3.xyz.com:9092</Property>
            <JsonLayout>
                <KeyValuePair key="some" value="general"/>
                <KeyValuePair key="component" value="springboottips"/>
            </JsonLayout>
        </Kafka>
        -->

    </Appenders>

    <Loggers>

        <Root level="info">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>

            <!--
            <AppenderRef ref="Kafka"/>
            <Logger name="org.apache.kafka" level="INFO" />
            -->

        </Root>
    </Loggers>
</Configuration>
